body {
    background-color: white;

}

header{
    margin-top: 5px;
}

#cabecalho{
/*
    height: 50px;
*/    

    padding: 3px;
    border: solid 1px black;
    background-color: red;

}

footer {
 margin-top: 200px;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: rgb(45, 247, 45);
}
