

      </div>
      <footer class="text-center ml-2 ">
         <div class="row">
          
            <a id="footerCol1" width="20%"> Usuário: Nome usuário </a> <br/>
            <a id="footerCol2" width="60%"><br/> <small>Faculdade de Tecnologia - Dr. Thomaz Novelino - Programação Script: <a href="https://site.fatecfranca.edu.br/" target="_blank">Fatec-Franca</a><br/></small> </a> <br/> 
            <a id="footerCol3" width="20%"> <br/><%= rota %> </a> 
         
         </div>
            
          
        <br>
      </footer>
    </div>