

      </div>
      <footer class="text-center">
         <div class="row">
          
            <a id="footerCol1" width="20%"> Usuário: Nome usuário </a> <br/>
            <a id="footerCol2" width="60%"> <small>Faculdade de Tecnologia - Dr. Thomaz Novelino - Programação Script: <a href="https://site.fatecfranca.edu.br/" target="_blank">Fatec-Franca</a><br/></small> </a> <br/> 
            <a id="footerCol3" width="20%"> <%= rota %> </a> 
         
         </div>
            
          
        <br>
      </footer>
    </div>
  </body>
</html>