<% include ../parcial/header.ejs %>

<nav class="menuPrincipal">
    <h2 id="titulo">Menu Livros</h2>
    <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/index">Menu Principal</a></li>
        <li><a href="#">Cadastrar Livros</a></li>
        <li><a href="/livros/listarLivros">Listar Livros</a></li>
        <li><a href="#">Autores</a></li>
        <li><a href="#">Editoras</a></li>
    </ul>
</nav>

<% include ../parcial/footer.ejs %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</body>

</html>